.venv
venv/
__pycache__/
frontend/node_modules/
cmake-build-debug
.idea
outputs
a.out
*.s
*.o
temp/
frontend/.next/
frontend/.next/

frontend/package-lock.json
*.asm.json
*.gch
compiler_src/inputs/*_stack.json*
compiler_src/inputs/*.tokens.txt
.DS_Store
.vscode/
*.log
.idea/
